#foto-perfil {
  width: 22px;
}

.border-transparent {
  border: 3px solid transparent;
}

#button-basic h6 {
  font-size: 0.875rem;
}


.navbar {
  transition: all ease .3s;
}

.page-control i {
  font-size: 25px;
}

.page-control {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
}

.user-menu {
  padding-bottom: 2px;
  padding-top: 2px;
  width: auto;
  background: rgba(0, 0, 0, 0.6);

}

.user-menu i {
  font-size: 12px;
}
