.card-playlist {
  background: #181818;
  transition: all .3s ease;
}

.card-playlist:hover {
  background: #282828;
}

.card-playlist img {
  width: 157px;
  height: 157px;
}

.playlist-title {
  font-size: 1rem;
  font-weight: 700;
}

.link-card-playlist {
  font-size: 0.875rem;
  text-decoration: none;
  color: #B3B3B3;
}

.link-card-playlist span:hover {
  text-decoration: underline;
}

.is-three-dots {
  text-decoration: none;
}

.is-three-dots:hover {
  cursor: default;
  text-decoration: none !important;
}
