:root {
  --verde-escuro-podcast: #004638;
  --cinza-escuro: #B3B3B3;
  --cinza-claro: #d2d2d2;
}

$verde-escuro-podcast: var(--verde-escuro-podcast);
$cinza-escuro: var(--cinza-escuro);
$cinza-claro: var(--cinza-claro);
$media-control-color: var(--media-control-color);
$media-control-color-hover: var(--media-control-color-hover);
$color-playslist-home-page: var(--color-playslist-home-page);
