:root {
  --footer-height: 100px;
  --sidebar-height: calc(100vh - var(--footer-height));
  //--playlist-fixed-size: 0px;
}

$footer-height: var(--footer-height);
$sidebar-height: var(--sidebar-height);
$playlist-fixed-size: var(--playlist-fixed-size);
$sidenav-menu-size: var(--sidenav-menu-size);
$sidenav-logo-size: var(--sidenav-logo-size);
