<div class="row mt-1">
  <!-- Playlist card-->
  <playlist-recente-card
    playlistImg="https://cdn.discordapp.com/attachments/997567071435108352/1096455734247559339/testee.jpg"
    class="col-4 mt-4"></playlist-recente-card>
  <playlist-recente-card
    playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
    class="col-4 mt-4"></playlist-recente-card>
  <playlist-recente-card
    playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
    class="col-4 mt-4"></playlist-recente-card>
  <playlist-recente-card
    playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
    class="col-4 mt-4"></playlist-recente-card>
  <playlist-recente-card
    playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
    class="col-4 mt-4"></playlist-recente-card>
  <playlist-recente-card
    playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
    class="col-4 mt-4"></playlist-recente-card>
</div>
