@import '../../../../assets/styles/sizes';

.sidebar {
  width: $sidenav-width;
  height: 100%;
  //margin-left: -12px;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: $sidebar-height;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link i {
  margin-right: 0.5rem;
}

.border-div {
  width: 2px;
  background-color: transparent;
  height: $sidebar-height;
  position: fixed;
  top: 0;
  left: $sidenav-width; /* se estiver usando col-md-3, ou ajuste conforme necessário */
  z-index: 99999;
}
.border-div:hover{
  background-color: #FFF;
  cursor: col-resize;
}
