@import '../../../../assets/styles/sizes';

.sidebar {
  width: $sidenav-width;
  height: 100%;
  //margin-left: -12px;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: $sidebar-height;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link i {
  margin-right: 0.5rem;
}

.resize-handle {
  cursor: ew-resize;
  background-color: transparent; /* Você pode ajustar isso para combinar com o design */
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.resize-handle:hover {
  background-color: white;
}

.resize-handle.resizing  {
  background-color: white;
}

