<nav class="col-md-3 col-lg-2 d-md-block bg-black sidebar sidebar-sticky">
  <!-- Logo -->
  <div class="container  d-flex mt-2">
    <a class="navbar-brand d-flex justify-content-center" href="#"><img class="img-fluid text-white w-75"
                                                                        src="assets/images/logo-branco-2.svg"></a>
  </div>
  <!-- Menu -->
  <div id="sidenav-menu" class="position-sticky mt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active text-white fw-semibold" href="#">
          <i class="bi bi-house"></i>
          Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fw-semibold" href="#">
          <i class="bi bi-search"></i>
          Buscar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fw-semibold" href="#">
          <i class="bi bi-book"></i>
          Sua Biblioteca
        </a>
      </li>
    </ul>
  </div>

  <app-playlist-sidenav></app-playlist-sidenav>
</nav>
<span class="border-div p-0"></span>
<ng-content></ng-content>
