<div class="w-100 h-100 gradient-home">
  <div class="container-fluid">
    <div class="mx-2" id="container-home">
      <h2 class="text-white">{{this.boasVindasMsg}}</h2>
      <app-ultimas-playslists-tocadas></app-ultimas-playslists-tocadas>

      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>
      <div class="row">
        <h2 class="my-4"><a href="" class="text-white text-decoration-none titulo-playlist">Seus mixeis mais ouvidos</a>
        </h2>

        <div class="d-flex justify-content-between teste-card" >
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2 " isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
          <jonasfy-music-card class="col-2" isVisible></jonasfy-music-card>
        </div>
      </div>

    </div>

  </div>
</div>
