@import '../../../../assets/styles/colors';

#container-home {
  padding-top: 8vh;
}

#container-home h2 {
  font-size: 2rem;
  font-weight: 700;
}

.gradient-home {
  transition: all 3s;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(18, 18, 18, 1) 40%);
  background-color: $color-playslist-home-page;
  margin-top: -51px;
}

.titulo-playlist {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.titulo-playlist:hover {
  text-decoration: underline !important;
}

$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

@media (min-width: $screen-sm) {
  // Defina o número de colunas para cada tamanho de tela menor
  @for $i from 6 through 8 {
    .teste-card {
      jonasfy-music-card {
        &:nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $screen-md) {
  // Defina o número de colunas para cada tamanho de tela menor
  @for $i from 6 through 8 {
    .teste-card {
      jonasfy-music-card {
        &:nth-child(#{$i}) {
          display: flex;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  // Defina o número de colunas para cada tamanho de tela menor
  @for $i from 6 through 8 {
    .teste-card {
      jonasfy-music-card {
        &:nth-child(#{$i}) {
          display: flex;
        }
      }
    }
  }
}
