<div class="w-100 h-100 gradient-home">
  <div class="container-fluid">
    <div class="mx-2" id="container-home">
      <h2 class="text-white">{{this.boasVindasMsg}}</h2>
      <!-- playlist-->
      <div class="row mt-4">
        <!-- Playlist card-->
        <playlist-recente-card
          playlistImg="https://cdn.discordapp.com/attachments/997567071435108352/1096455734247559339/testee.jpg"
          class="col-4"></playlist-recente-card>
        <playlist-recente-card
          playlistImg="https://media.discordapp.net/attachments/997567071435108352/1096455734503415941/musicasCurtidas.png"
          class="col-4"></playlist-recente-card>
      </div>
    </div>

  </div>

</div>
