@import '../../../../assets/styles/colors';

#container-home {
  padding-top: 8vh;
}

#container-home h2 {
  font-size: 2rem;
  font-weight: 700;
}

.gradient-home {
  transition: all 3s;
  background: linear-gradient(180deg, $color-playslist-home-page 0%, rgba(18, 18, 18, 1) 40%);
  margin-top: -51px;
}
